* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #333;
}

/* Top Bar */
.top-bar {
  background-color: #f54b64;
  color: white;
  font-size: 14px;

}
.top-inner{
  max-width: 800px;
  nav-right: auto;
  padding: 8px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon{
  margin-right: 0 auto;
  display: flex;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #f54b64;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a.active,
nav a:hover {
  color: #f54b64;
}
.hero {
  position: relative;
  background: url('bg.jpg') no-repeat center  center/cover;
  height:90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}
.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 2;
  left: 0;
  z-index: -2;

}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.hero-content {
  color: white;
  max-width: 500px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

.btn.primary {
  background-color: #f54b64;
  color: white;
}

.btn.secondary {
  border: 2px solid white;
  color: white;
}

/* Booking Form */
.booking-form {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.booking-form h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.booking-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  gap: 10px;
}

.booking-form input,
.booking-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking-form button {
  background-color: #f54b64;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.booking-form button:hover {
  background-color: #e63b55;
}
