.Card1{
 border:1px solid gray; 
 width: 250px;
 height: 500px;
 background-color: rgb(255, 102, 0);
 color:white;
 filter: drop-shadow(10px 10px 10px rgb(0, 255, 255));
 border-radius: 40px;
}
.Card-container{
display:flex;
 justify-content: center;
 align-items: center;
 gap:40px;
 flex-wrap: wrap;


}
.imgg img{
    
     width: 50%;
     height: 200px;
     border-radius: 50%;
     margin-left: 70px;
     margin-top: 20px;
 
}
h1{
    margin-left: 20px;
}
p{
    margin-left: 20px;
}
